@font-face {
  font-family: roboto;
  src: url(./assets/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto;
  src: url(./assets/Roboto-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: montserrat;
  src: url(./assets/Montserrat-Regular.ttf);
}

@font-face {
  font-family: montserrat;
  src: url(./assets/Montserrat-Bold.ttf);
  font-weight: bold;
}

body {
  margin: 0;
  color: #ffffff;
}

h1, h2, h3 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
  font-weight: normal;
  font-family: montserrat, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  line-height: 29px;
  color: #25282c;
}

.top {
  background-image: url('./assets/umbrellas-mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 508px;
  width: 100vw;
  color:#ffffff;
}

.transparency {
  height: 508px;
  width: 100vw;
  background-color: rgba(0,0,0,0.3);
}

.links {
  display: flex;
  justify-content: flex-end;
  margin: 0 10%;
  padding-top: 105px;
  padding-bottom: 32px;
}

.link {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.icon1 {
  width: 15px;
  height: 15px;
  padding-top: 2px;
}

.icon2 {
  width: 17px;
  height: 18px;
  padding-top: 6px;
}

.icon3 {
  width: 19px;
  height: 19px;
  padding-top: 3px;
}

.top-text {
  margin: 0 10%;
}

.name {
  font-family: roboto, Arial, Helvetica, sans-serif;
  width: 206px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.name-portfolio {
  font-size: 13px;
}

.name-name {
  font-weight: bold;
  font-size: 13px;
}

.title {
  font-family: montserrat, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.sub-title {
  font-family: montserrat, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
}

.profile-mobile {
  border-radius: 50%;
  border: 3px solid #ffffff;
  position: absolute;
  top: 359px;
  right: 10%;
}

.profile-tablet {
  display: none;
}

.profile-desktop {
  display: none;
}

.summary, .featured-projects, .other-projects, .skills {
  background-color: #F2EAE4;
  /* padding: 58px 10%; */
  padding: 0 10%;
}

.tech, .featured-projects, .other-projects, .thoughts, .more-thoughts .skills, .more {
  /* padding: 58px 10%; */
  padding: 0 10%;
  display: flex;
  flex-direction: column;
}

.summary-text {
  padding: 58px 0;
}

.summary-line {
  width: 60px;
  height: 4px;
  border-radius: 10px;
  background: #A63889;
  display: inline-block;
  margin-bottom: 4px;
}

.summary-dot {
  width: 12px;
  height: 12px;
  background: #A63889;
  border-radius: 50%;
  display: inline-block;
  margin-left: -5px;
  margin-right: 5px;
}

.section-title {
  background: #A63889;
  padding: 3px 10px;
  font-family: montserrat, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: bold;
  width: fit-content;
  align-self: center;
  margin: 58px 0 36px 0;
}

.section-subtitle {
  color: #A63889;
  padding: 3px 10px;
  font-family: montserrat, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 21px;
  font-weight: bold;
  width: fit-content;
  align-self: center;
  margin-bottom: 18px;
}

.section-text {
  text-align: center;
  margin-bottom: 58px;
}

.project-link, .thought-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.project-icon {
  align-self: center;
  background-image: url('./assets/project-image.png');
  height: 177px;
  width: 303px;
  position: relative;
  text-align: center;
}

.project-transparency {
  background-color: rgba(0,0,0,0.3);
  height: 177px;
  width: 303px;
}

.project-title {
  font-size: 16px;
  font-weight: bold;
  color: #eee3d5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-description {
  margin: 25px 0 15px 0;
  font-family: roboto, Arial, Helvetica, sans-serif;
}

.project-name {
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #A63889;
}

.project-arrows {
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #A63889;
  /* text-decoration: underline; */
}

.project-tags {
  display: flex;
  margin-bottom: 42px;
}

.project-tag {
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-size: 9px;
  line-height: 10px;
  background: #F2A0AF;
  padding: 3px 8px;
  margin-right: 3px;
}

/* MEDIA QUERIES FOR TABLET */

@media (min-width: 900px) {
  .top {
    background-image: url('./assets/umbrellas-tablet.jpg');
    height: 582px;
  }

  .transparency {
    height: 582px;
  }

  .links {
    margin: 0 15%;
    padding-top: 70px;
    padding-bottom: 25px;
  }

  .link {
    width: 56px;
    height: 56px;
    margin-left: 8px;
  }

  .icon1 {
    width: 22px;
    height: 22px;
    padding-top: 3px;
  }
  
  .icon2 {
    width: 27px;
    height: 28px;
    padding-top: 9px;
  }
  
  .icon3 {
    width: 30px;
    height: 30px;
    padding-top: 4px;
  }
  
  .top-text {
    margin: 0 15%;
  }
  
  .name {
    width: 331px;
    margin-bottom: 5px;
  }
  
  .name-portfolio {
    font-size: 21px;
  }
  
  .name-name {
    font-size: 21px;
  }

  .title {
    font-size: 61px;
  }
  
  .sub-title {
    font-size: 37px;
    margin-top: 9px;
  }

  .profile-mobile {
    display: none;
  }

  .profile-tablet {
    display: inherit;
    border-radius: 50%;
    border: 3px solid #ffffff;
    position: absolute;
    top: 355px;
    right: 15%;
  }
}

/* MEDIA QUERIES FOR DESKTOP */

@media (min-width: 1440px) {
  .top {
    background-image: url('./assets/umbrellas-desktop.jpg');
    height: 656px;
  }

  .transparency {
    height: 656px;
  }

  .links {
    margin: 0 20%;
    padding-top: 108px;
    padding-bottom: 51px;
  }

  .link {
    width: 74px;
    height: 74px;
    margin-left: 11px;
  }

  .icon1 {
    width: 31px;
    height: 30px;
    padding-top: 4px;
  }
  
  .icon2 {
    width: 35px;
    height: 38px;
    padding-top: 12px;
  }
  
  .icon3 {
    width: 39px;
    height: 39px;
    padding-top: 6px;
  }
  
  .top-text {
    margin: 0 20%;
  }
  
  .name {
    width: 456px;
    margin-bottom: 5px;
  }
  
  .name-portfolio {
    font-size: 28px;
  }
  
  .name-name {
    font-size: 28px;
  }

  .title {
    font-size: 82px;
  }
  
  .sub-title {
    font-size: 50px;
    margin-top: 9px;
  }

  .profile-mobile {
    display: none;
  }

  .profile-tablet {
    display: none;
  }

  .profile-desktop {
    display: inherit;
    border-radius: 50%;
    border: 3px solid #ffffff;
    position: absolute;
    top: 355px;
    right: 20%;
  }
}