@font-face {
  font-family: Roboto;
  src: url(./assets/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(./assets/Roboto-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Montserrat;
  src: url(./assets/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(./assets/Montserrat-Bold.ttf);
  font-weight: bold;
}

body {
  margin: 0;
  color: #ffffff;
  width: 100%;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
  font-weight: normal;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  line-height: 29px;
  color: #25282c;
}

.emphasized-text {
  color:  #A63889;
  font-weight: bold;
}

.top {
  background-image: url('./assets/umbrellas-mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 508px;
  width: 100vw;
  color:#ffffff;
}

.transparency {
  height: 508px;
  width: 100vw;
  background-color: rgba(0,0,0,0.3);
}

.links {
  display: flex;
  justify-content: flex-end;
  margin: 0 10%;
  padding-top: 105px;
  padding-bottom: 32px;
}

.link {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.icon1 {
  width: 15px;
  height: 15px;
  padding-top: 2px;
}

.icon2 {
  width: 17px;
  height: 18px;
  padding-top: 6px;
}

.icon3 {
  width: 19px;
  height: 19px;
  padding-top: 3px;
}

.top-text {
  margin: 0 10%;
}

.name {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  width: 206px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.name-portfolio {
  font-size: 13px;
}

.name-name {
  font-weight: bold;
  font-size: 13px;
}

.title {
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.sub-title {
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
}

.profile-mobile {
  border-radius: 50%;
  border: 3px solid #ffffff;
  position: absolute;
  width: 156px;
  height: 156px;
  top: 359px;
  right: 10%;
}

.profile-tablet {
  display: none;
}

.profile-desktop {
  display: none;
}

.summary, .tech, .featured-projects, .thoughts, .skills, .more {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
}

section:nth-child(even) {
  background-color: #F2EAE4;
}

.other-projects-container, .more-thoughts-container, .skills {
  padding-bottom: 75px;
}

.summary-text {
  padding: 58px 0;
}

.summary-line {
  width: 60px;
  height: 4px;
  border-radius: 10px;
  background: #A63889;
  display: inline-block;
  margin-bottom: 4px;
}

.summary-dot {
  width: 12px;
  height: 12px;
  background: #A63889;
  border-radius: 50%;
  display: inline-block;
  margin-left: -5px;
  margin-right: 5px;
}

.section-title {
  background: #A63889;
  padding: 3px 10px;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: bold;
  width: fit-content;
  align-self: center;
  margin: 58px 0 36px 0;
}

.section-title-mobile {
  background: #A63889;
  padding: 3px 10px;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: bold;
  width: fit-content;
  align-self: center;
  margin: 58px 0 36px 0;
}

.section-title-dashboard {
  display: none;
}

.section-text {
  text-align: center;
  margin-bottom: 58px;
}

.projects-container, .other-projects-container, .thoughts-container, .more-thoughts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-link, .other-project-link, .thought-link, .more-thought-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 303px;
}

.project-icon {
  align-self: center;
  background-size: cover;
  height: 179px;
  width: 303px;
  position: relative;
}

.-proj1 {
  background-image: url('./assets/weather-app-303.png');
}

.-proj2 {
  background-image: url('./assets/cluedo-303.png');
}

.-proj3 {
  background-image: url('./assets/pizza-bot-303.png');
}

.-proj4 {
  background-image: url('./assets/dog-rescue-303.png');
}

.project-transparency {
  background-color: rgba(0,0,0,0.3);
  height: 100%;
  width: 100%;
}

.project-title {
  font-size: 16px;
  font-weight: bold;
  color: #eee3d5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-description, .thought-description {
  margin: 25px 0 15px 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.project-name {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #A63889;
}

.project-arrows {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #A63889;
  text-decoration: underline;
}

.project-tags {
  display: flex;
  margin-bottom: 42px;
}

.project-tag {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 9px;
  line-height: 10px;
  background: #F4a7af;
  padding: 4px 11px;
  margin-right: 3px;
}

.section-subtitle {
  color: #A63889;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 21px;
  font-weight: bold;
  width: fit-content;
  align-self: center;
  margin-bottom: 18px;
  margin-top: 42px;
}

.thought-link:not(:last-child) {
  margin-bottom: 42px;
}

.thought-icon {
  align-self: center;
  background-size: cover;
  height: 205px;
  width: 301px;
}

.-th1 {
  background-image: url('./assets/thought-image1-small.jpg');
}

.-th2 {
  background-image: url('./assets/thought-image2-small.png');
}

.thought-title {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 21px;
  line-height: 32px;
  font-weight: bold;
}

.thought-date {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #A63889;
  font-weight: normal;
}

.thought-resume {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 32px;
}

.more-thought-description {
  margin: 15px 0 5px 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 29px;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.skill {
  text-align: center;
  padding: 15px 0;
}

.section-subtitle-bold {
  color: #A63889;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 29px;
  font-weight: bold;
}

.-code {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.-upcoming {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.-toolbox {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.-more {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0;
  font-weight: normal;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 29px;
  color: #25282c;
}

.more-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin-bottom: 70px;
}

.more-link {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid #A63889;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.more-icon1 {
  width: 18px;
  height: 18px;
  padding-top: 2px;
}

.more-icon2 {
  width: 22px;
  height: 21px;
  padding-top: 6px;
}

.more-icon3 {
  width: 22px;
  height: 22px;
  padding-top: 3px;
}

.more-name {
  font-size: 11px;
  font-weight: bold;
  color: #A63889;
  margin-top: 14px;
}

footer {
  background: #455473;
  display: flex;
  flex-direction: column;
  padding: 63px 0;
}

.footer-title {
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.footer-text-bold {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.footer-text {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.footer-attribution {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
}

/* MEDIA QUERIES FOR TABLET */

@media (min-width: 900px) {
  p {
    font-size: 24px;
    line-height: 40px;
  }

  .top {
    background-image: url('./assets/umbrellas-tablet.jpg');
    height: 582px;
  }

  .transparency {
    height: 582px;
  }

  .links {
    margin: 0 15%;
    padding-top: 70px;
    padding-bottom: 25px;
  }

  .link {
    width: 56px;
    height: 56px;
    margin-left: 8px;
  }

  .icon1 {
    width: 22px;
    height: 22px;
    padding-top: 3px;
  }

  .icon2 {
    width: 27px;
    height: 28px;
    padding-top: 9px;
  }

  .icon3 {
    width: 30px;
    height: 30px;
    padding-top: 4px;
  }

  .top-text {
    margin: 0 15%;
  }

  .name {
    width: 331px;
    margin-bottom: 5px;
  }

  .name-portfolio {
    font-size: 21px;
  }

  .name-name {
    font-size: 21px;
  }

  .title {
    font-size: 61px;
  }

  .sub-title {
    font-size: 37px;
    margin-top: 9px;
  }

  .profile-mobile {
    display: none;
  }

  .profile-tablet {
    display: inherit;
    border-radius: 50%;
    border: 3px solid #ffffff;
    position: absolute;
    top: 355px;
    right: 15%;
  }

  .summary, .tech, .featured-projects, .thoughts, .skills, .more {
    padding: 0 15%;
  }

  .other-projects-container, .more-thoughts-container, .skills {
    padding-bottom: 75px;
  }

  .summary-text {
    padding: 91px 0;
  }

  .summary-line {
    width: 75px;
    height: 4px;
    margin-bottom: 6px;
  }

  .summary-dot {
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-right: 8px;
  }

  .section-title {
    padding: 3px 11px;
    font-size: 35px;
    margin: 97px 0 54px 0;
  }

  .section-title-mobile {
    display: none;
  }
  
  .section-title-dashboard {
    display: initial;
    background: #A63889;
    padding: 3px 11px;
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    font-weight: bold;
    width: fit-content;
    align-self: center;
    margin: 97px 0 54px 0;
  }
  

  .section-text {
    margin-bottom: 90px;
  }

  .project-link, .other-project-link, .thought-link, .more-thought-link {
    width: 522px;
  }

  .project-icon {
    align-self: auto;
    height: 309px;
    width: 522px;
  }

  .-proj1 {
    background-image: url('./assets/weather-app-522.png');
  }
  
  .-proj2 {
    background-image: url('./assets/cluedo-522.png');
  }
  
  .-proj3 {
    background-image: url('./assets/pizza-bot-522.png');
  }
  
  .-proj4 {
    background-image: url('./assets/dog-rescue-522.png');
  }

  .project-transparency {
    width: 100%;
    height: 100%;
  }

  .project-title {
    font-size: 28px;
  }

  .project-description, .thought-description {
    margin: 43px 0 8px 0;
  }

  .project-tags {
    margin-bottom: 47px;
  }

  .project-tag {
    font-size: 16px;
    line-height: 19px;
    padding: 5px 18px;
    margin-right: 7px;
  }

  .section-subtitle {
    font-size: 30px;
    margin-bottom: 28px;
    margin-top: 66px;
  }

  .thought-link:not(:last-child) {
    margin-bottom: 47px;
  }

  .thought-icon {
    height: 354px;
    width: 522px;
  }

  .-th1 {
    background-image: url('./assets/thought-image1-medium.jpg');
  }
  
  .-th2 {
    background-image: url('./assets/thought-image2-medium.png');
  }

  .thought-title {
    font-size: 26px;
    line-height: 37px;
  }

  .thought-resume {
    font-size: 21px;
    line-height: 37px;
  }

  .more-thought-description {
    margin: 15px 0 10px 0;
    font-size: 21px;
  }
  
  .section-subtitle-bold {
    font-size: 21px;
    line-height: 35px;
  }

  .skills {
    align-items: center;
  }

  .skills-container {
    grid-template-columns: 261px 261px;
  }

  li {
    font-size: 21px;
    line-height: 35px;
  }

  .more-links {
    margin-bottom: 87px;
  }

  .more-link {
    width: 105px;
    height: 105px;
  }

  .more-icon1 {
    width: 34px;
    height: 34px;
    padding-top: 1px;
  }

  .more-icon2 {
    width: 40px;
    height: 41px;
    padding-top: 6px;
  }

  .more-icon3 {
    width: 41px;
    height: 41px;
    padding-top: 3px;
  }

  .more-name {
    font-size: 18px;
    margin-top: 26px;
  }

  footer {
    padding: 99px 0;
  }

  .footer-title {
    font-size: 30px;
    margin-bottom: 27px;
  }

  .footer-text-bold, .footer-text {
    font-size: 21px;
  }
  
  .footer-attribution {
    font-size: 13px;
    margin-top: 15px;
  }
}

/* MEDIA QUERIES FOR DESKTOP */

@media (min-width: 1920px) {
  p {
    font-size: 30px;
    line-height: 50px;
  }

  .top {
    background-image: url('./assets/umbrellas-desktop.jpg');
    height: 656px;
  }

  .transparency {
    height: 656px;
  }

  .links {
    margin: 0 20%;
    padding-top: 108px;
    padding-bottom: 51px;
  }

  .link {
    width: 74px;
    height: 74px;
    margin-left: 11px;
  }

  .icon1 {
    width: 31px;
    height: 30px;
    padding-top: 4px;
  }

  .icon2 {
    width: 35px;
    height: 38px;
    padding-top: 12px;
  }

  .icon3 {
    width: 39px;
    height: 39px;
    padding-top: 6px;
  }

  .top-text {
    margin: 0 20%;
  }

  .name {
    width: 456px;
    margin-bottom: 5px;
  }

  .name-portfolio {
    font-size: 28px;
  }

  .name-name {
    font-size: 28px;
  }

  .title {
    font-size: 82px;
  }

  .sub-title {
    font-size: 50px;
    margin-top: 9px;
  }

  .profile-mobile {
    display: none;
  }

  .profile-tablet {
    display: none;
  }

  .profile-desktop {
    display: inherit;
    border-radius: 50%;
    border: 3px solid #ffffff;
    position: absolute;
    top: 355px;
    right: 20%;
  }

  .summary, .tech, .featured-projects, .thoughts, .skills, .more {
    padding: 0 20%;
    align-items: center;
  }

  .other-projects-container, .more-thoughts-container, .skills {
    padding-bottom: 75px;
  }

  .summary-text {
    padding: 124px 0;
  }

  .summary-line {
    width: 90px;
    height: 4px;
    margin-bottom: 8px;
  }

  .summary-dot {
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-right: 10px;
  }

  .section-title, .section-title-dashboard {
    padding: 3px 12px;
    font-size: 48px;
    margin: 136px 0 72px 0;
  }

  .section-text {
    margin-bottom: 121px;
  }

  .projects-container, .thoughts-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 1132px;
  }

  .project-link, .thought-link {
    margin: 0 22px;
  }

  .project-description, .thought-description {
    font-size: 25px;
    line-height: 41px;
  }

  .project-name {
    font-size: 25px;
    line-height: 41px;
  }

  .project-tags {
    margin-bottom: 52px;
  }

  .section-subtitle {
    font-size: 38px;
    margin-bottom: 37px;
    margin-top: 90px;
  }

  .other-projects-container, .more-thoughts-container {
    width: 1088px;
    align-self: center;
  }

  .other-project-link, .more-thought-link {
    width: 1088px;
  }

  .thought-link:not(:last-child) {
    margin-bottom: 52px;
  }

  .thought-title {
    font-size: 30px;
    line-height: 41px;
  }

  .thought-resume {
    font-size: 25px;
    line-height: 41px;
  }

  .more-thought-description {
    margin: 15px 0 15px 0;
    font-size: 25px;
  }

  .skills, .more {
    align-items: center;
  }

  .skills-container {
    grid-template-columns: 363px 363px 363px;
  }

  .section-subtitle-bold {
    font-size: 25px;
    line-height: 41px;
  }

  .-more {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  li {
    font-size: 25px;
    line-height: 41px;
  }

  .more-links {
    grid-template-columns: 363px 363px 363px;
    margin-bottom: 103px;
  }

  .more-link {
    width: 154px;
    height: 154px;
  }

  .more-icon1 {
    width: 50px;
    height: 50px;
  }

  .more-icon2 {
    width: 57px;
    height: 61px;
    padding-top: 6px;
  }

  .more-icon3 {
    width: 60px;
    height: 60px;
    padding-top: 3px;
  }

  .more-name {
    font-size: 25px;
    margin-top: 38px;
  }

  footer {
    padding: 135px 0;
  }

  .footer-title {
    font-size: 38px;
    margin-bottom: 34px;
  }

  .footer-text-bold, .footer-text {
    font-size: 30px;
  }

  .footer-attribution {
    font-size: 16px;
    margin-top: 30px;
  }
}